@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Purpose:</h1>
    <p class="lead">To refresh knowledge in asp.net mvc and EF stack</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
